/* vim: set fdm=marker: */

/* Normalize {{{ */

body {
    margin: 0; /* Remove default margin [1]. */
}

button,
input,
select,
textarea {
    font-family: inherit; /* Corrects font family not being inherited in all browsers [1]. */
    font-size: 100%; /* Corrects font size not being inherited in all browsers [1]. */
    margin: 0; /* Addresses margins set differently in Firefox 4+, Safari 5, and Chrome [1]. */
}

/*
  Resources:
  1. Normalize.css (http://necolas.github.io/normalize.css/)
*/

/* }}} */

/* Typography {{{ */

html {
    font-size: 18px;
    line-height: 1.5; /* The line height (1.5rem) sets the vertical rhythm. */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; /* 90% Mac  (Optima) & 54% PC (Candara) [5] */
    color: #222;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1.5rem; /* Vertical rhythm */
    font-weight: normal;
    text-rendering: optimizeLegibility; /* Enables a font’s native kerning and optional ligatures. */
    page-break-inside: avoid;
}
h1 {
    font-size: 2rem;   /* Traditional scale [3] */
    line-height: 3rem; /* Vertical rhythm */
    text-transform: uppercase;
}
h2 {
    font-size: 1.75rem; /* Traditional scale [3] */
    line-height: 3rem;  /* Vertical rhythm */
}
h3 {
    font-size: 1.5rem;   /* Traditional scale [3] */
    line-height: 1.5rem; /* Vertical rhythm */
}
h4 {
    font-size: 1.3rem;   /* Traditional scale [3] */
    line-height: 1.5rem; /* Vertical rhythm */
}
h5 {
    font-size: 1.16rem;  /* Traditional scale [3] */
    line-height: 1.5rem; /* Vertical rhythm */
}
h6 {
    font-size: 1rem; /* Traditional scale [3] */
    line-height: 1.5rem; /* Vertical rhythm */
}

ul, ol, p, pre, blockquote {
    margin: 1.5rem 0; /* Vertical rhythm */
}

blockquote {
    font-style: italic;
    border-left: 4px solid #eee;
    padding-left: 1rem;
}
ul {
    list-style-position: outside;
    list-style-type: square;
    padding-left: 0;
}
p {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; /*  Automatically break words at appropriate hyphenation points. */
}
code {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.92rem; /* Traditional scale [3] */
    line-height: 1; /* Not to change the line-height of the paragraph. */
}
abbr {
    letter-spacing: .1em; /* Letterspace abbreviations
                             (http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.6/). */
}
a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

/*
  Resources:
  1. The Ultimate Guide to Readable Web Typography
     (http://www.pearsonified.com/2011/12/golden-ratio-typography.php)
  2. The Elements of Typographic Style Applied to the Web
     (http://webtypography.net/toc)
  3. Typograph – Scale & Rhythm
     (http://lamb.cc/typograph/)
  4. Revised Font Stack
     (http://www.awayback.com/revised-font-stack/)
*/
/* }}} */

/* Layout {{{ */

.g--shady {
    color: #555;
}

.page {
    max-width: 980px;
    min-width: 320px;
    margin: 0 auto;
    padding: 1.5rem 0;
}
.page__sidebar {
    width: 30%;
    float: left;
    padding: 0 1rem 0 1.5rem; /* Left margin is bigger due to the outside position of the menu items */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.page__content {
    margin-left: 30%;
    box-sizing: border-box;
    padding: 0 3rem 0 1rem; /* Right margin is bigger due to 1.5rem-wide box-shadow of the code elements */
}

/*h1,h2*/.page__user-name {
    font-size: 2rem;   /* H1 */
    line-height: 3rem; /* H1 */
    text-transform: none;
}

/*a*/.page__user-name-link {
    border-bottom: 0;
}

.page__user-picture {
    display: block;
    height: calc( 6 * 1.5rem ); /* Vertical rhythm. If calc() is not supported, then SVG may not be supported either
                                   and the picture will remain invisible - yay! */
    margin: 0 auto 1.5rem; /* Vertical rhythm */
}

.post__header {
    margin-bottom: 0;
}
.post__content ul,
.post__content p {
    margin-top: 0;
}

.post__content figure.highlight {
    margin: 0;
}
.post__content pre code {
    position: relative;
    display: block;
    padding: 1.5rem 0; /* Vertical rhythm */
    line-height: 1.5;  /* Restore line-height for the block elements */
    overflow: auto;
    background: #f9f9f9;
    box-shadow: 1.5rem 0 #f9f9f9, -1.5rem 0 #f9f9f9;
}

.post-comments {
    margin-bottom: 1.5rem /* Vertical rhythm */
}
    .post-comments::before {
        display: block;
        content: '\00F7';
        text-align: center;
        margin-bottom: 1.5rem; /* Vertical rhythm */
    }

.post__meta {
    text-transform: uppercase;
    font-size: 0.83rem;  /* Traditional scale [3] */
    line-height: 1.5rem; /* Vertical rhythm */
    margin: .75rem 0;
}

/*ul*/.post__content-list li {
    margin-bottom: 1.5rem; /* Vertical rhythm */
}
.post__content video,
.post__content img {
    display: block;
    margin: 1.5rem auto;
    max-width: 100%; /* Makes images to scale properly */
}

.post-special-home {
    position: relative;
    font-size: 1.5rem;  /* H3 */
    line-height: 1.5rem; /* H3 */
}
    .post-special-home::before {
        content: '\2039';
        position: absolute;
        left: -1rem;
    }

.archive {
    list-style: none;
    padding: 0;
}
.archive__item {
    display: block;
    margin-bottom: 1.5rem; /* Vertical rhythm */
}
.archive__date {
    font-size: 0.92rem; /* Traditional scale [3] */
    line-height: 1.5rem;
    text-transform: uppercase;
}
.archive__header {
    font-size: 1.16rem;  /* Traditional scale [3] */
    line-height: 1.5rem; /* Vertical rhythm */
}

.tags {
    list-style: none;
    padding: 0;
}
.tags__item {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    line-height: 1.5rem; /* Vertical rhythm */
    font-size: 1.16rem;  /* Traditional scale [3] */
    display: inline-block;
}
    .tags__item::after {
        content: '\a0\25aa\a0';
    }
    .tags__item:last-child::after {
        content: '';
    }

@media (max-width: 979px) {
    ul {
        padding-left: 1rem; /* There's no space on the left for markers */
    }
    .page {
        padding-top: 0;
    }
    .page__sidebar {
        float: none;
        width: auto;
        padding-left: 1rem;
        padding-top: 1.5rem;
        box-shadow: 0 1px #eee;
        margin-bottom: 1rem; /* This breaks vertical rhythm, though looks much better */
    }
    .page__content {
        margin-left: auto;
        padding-right: 1rem;
    }
    .page__user-picture-story {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem; /* Vertical rhythm */
    }
    .page__user-picture {
        height: calc( 3 * 1.5rem ); /* Vertical rhythm */
        width: calc( 3 * 1.5rem );
        flex-shrink: 0;
        margin-bottom: 0;
        padding-right: 1rem;
    }
    .page__user-name {
        display: none;
    }
    /*ul*/.page__nav {
        margin-top: 0;
        padding-left: 0;
        order: -1;
    }
    /*ul*/.page__nav li {
        display: inline-block;
    }
    /*ul*/.page__nav li::after {
        content: '\a0\25aa\a0';
    }
    /*ul*/.page__nav li:last-child::after {
        content: '';
    }
    .post-special-home::before {
        position: static;
    }
    .archive__header {
        line-height: 2rem; /* This breaks vertical rhythm, though looks much better */
    }

}

@media (max-width: 667px) {
    /* iPhone 6 375x667 */
    html {
        font-size: 16px;
    }
}
@media (max-width: 359px) {
    /* Galaxy S5 360x640  */
    html {
        font-size: 14px;
    }
}

/* }}} */

/* Highlighter {{{ */

.highlight code {
    color: #485e76;
}

.highlight .c,   /* Comment */
.highlight .cm,  /* Comment.Multiline */
.highlight .c1,  /* Comment.Single */
.highlight .cs { /* Comment.Special */
    font-style: italic;
    color: #a5abb1;
}

.highlight .gp { /* Generic.Prompt */
    color: #a5abb1;
    font-weight: bold;
}
.highlight .gh,  /* Generic.Heading */
.highlight .gs,  /* Generic.Strong */
.highlight .gu { /* Generic.Subheading */
    font-weight: bold;
}
.highlight .ge { /* Generic.Emph */
    font-style: italic;
}

.highlight .k,   /* Keyword */
.highlight .kc,  /* Keyword.Constant */
.highlight .kd,  /* Keyword.Declaration */
.highlight .kn,  /* Keyword.Namespace */
.highlight .kr { /* Keyword.Reserved */
    color: #5e89b9;
}

.highlight .ni, /* Name.Entity */
.highlight .ne, /* Name.Exception */
.highlight .nn, /* Name.Namespace */
.highlight .nt, /* Name.Tag */
.highlight .nc { /* Name.Class */
    color: #d1887b;
}

.highlight .ow { /* Operator.Word */
    font-weight: bold
}

.highlight .s,   /* Literal.String */
.highlight .sb,  /* Literal.String.Backtick */
.highlight .sc,  /* Literal.String.Char */
.highlight .sd,  /* Literal.String.Doc */
.highlight .sh,  /* Literal.String.Heredoc */
.highlight .se,  /* Literal.String.Escape */
.highlight .si,  /* Literal.String.Interpol */
.highlight .sx,  /* Literal.String.Other */
.highlight .ss,  /* Literal.String.Symbol */
.highlight .sr,  /* Literal.String.Regex */
.highlight .s1,  /* Literal.String.Single */
.highlight .s2 { /* Literal.String.Double */
    color: #c15847;
}
/* }}} */

/* Theme {{{ */
.theme--dark body {
    background-color: #222;
    color: #fff;
}
.theme--dark .g--shady {
    color: #ccc;
}
.theme--dark code {
    font-weight: bold;
}
.theme--dark .post__content pre code {
    font-weight: normal;
    background: #262626;
    box-shadow: 1.5rem 0 #262626, -1.5rem 0 #262626;
}
.theme--dark .highlight code {
    color: #8caacb;
}
.theme-dark blockquote {
    border-left-color: #666;
}
.theme--dark .post__content img {
    background-color: #fff; /* Replaces transparent color */
}
@media (max-width: 979px) {
    .theme--dark .page__sidebar {
        box-shadow: 0 1px #333;
    }
}
/* }}} */
