// vim: ft=javascript

const dateFormat = require('../lib/date-format');

function timeToRead(content) {
  const words = content.split(/\s+/).length;
  if (words > 360) {
    return ` ∙ ${parseInt(words / 180)} minutes read`;
  } else {
    return '';
  }
}

return html`
<div class="post">
  <h1 class="post__header">
  ${
    headingLink
      ? html`<a href="${url(post.pathname)}">${post.title}</a>`
      : post.title
  }
  </h1>
  <div class="post__meta g--shady">
    ${dateFormat(post.date, '%M d, yyyy')}
    ${timeToRead(content)}
    ${
      post.tags
        ? html` ∙ ${post.tags
            .map(tag => {
              return `<a href="/tags/${tag}/">${tag}</a>`;
            })
            .join(', ')}`
        : ''
    }
  </div>
  <div class="post__content">
    ${content}
    ${
      readMoreLink
        ? html`
    <div class="post__read-more">
      <a
        href="${url(post.pathname)}"
        data-ga-on="click"
        data-ga-category="Click"
        data-ga-action="Read More"
        data-ga-label="${post.pathname}"
      >Continue reading</a> &rsaquo;
    </div>
    `
        : ''
    }
  </div>
</div>
`;
