<div class="post">
    <h{{ include_post_h }} class="post__header">
        {% if include_post_link %}
            <a href="{{ include_post_meta.url }}">{{ include_post_meta.title }}</a>
        {% else %}
            {{ include_post_meta.title }}
        {% endif %}
    </h{{ include_post_h }}>
    <div class="post__meta g--shady">
        {{ include_post_meta.date | date:"%B %-d, %Y" }}
        {% if include_post_meta.tags %}
            ∙
            {% for tag in include_post_meta.tags %}
                <a href="/tags/{{tag}}/">{{tag}}</a>{% if forloop.rindex > 1 %},{% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% if include_post_content %}
        <div class="post__content">
            {% if include_post_meta.image %}
                <div class="post__image" style="background-image: url('/assets/posts/{{ include_post_meta.image }}')"></div>
            {% endif %}
            {{ include_post_content }}
        </div>
    {% endif %}
</div>
