@charset "UTF-8";
/**
  * Links:
  * 1. Normalize.css (git.io/normalize)
  */
body {
  margin: 0;
  /* Remove default margin [1]. */ }

button,
input,
select,
textarea {
  font-family: inherit;
  /* Corrects font family not being inherited in all browsers [1]. */
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers [1]. */
  margin: 0;
  /* Addresses margins set differently in Firefox 4+, Safari 5, and Chrome [1]. */ }

html {
  background-color: #e9eced;
  height: 100%; }

body {
  color: #222;
  height: 100%; }

a {
  color: inherit; }

/**
 * iPhone 4S- 320x480
 * iPhone 5+ 320x565
 * Lumia 920 768x1280
 */
/**
 * Links:
 * 1. The Ultimate Guide to Readable Web Typography
 *    (http://www.pearsonified.com/2011/12/golden-ratio-typography.php)
 * 2. The Elements of Typographic Style Applied to the Web
 *    (http://webtypography.net/toc)
 * 3. Typograph – Scale & Rhythm
 *    (http://lamb.cc/typograph/)
 * 4. Baseline Grid
 *    (http://www.alistapart.com/articles/settingtypeontheweb/)
 * 5. The Elements of Typographic Style Applied to the Web
 *    (http://webtypography.net/toc)
 * 6. Revised Font Stack
 *    (http://www.awayback.com/revised-font-stack/)
 */
/**
 * Returns an adjusted line width for the given font size and line height [1].
 */
/**
 * Returns an adjusted line height for the given font size and line width [1].
 */
/**
 * Returns base to the exponent power (base ^ exponent).
 */
/* We are Mobile First! */
/* [1] */
/**
 * Modular scale.
 */
/**
 * Typographic scale [3].
 */
/* Traditional typographic scale. */
/**
 * Vertical rhythm. As we set the font size for headers,
 * we also need to set appropriate line-heights in multiples of $line-height [4].
 */
body {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  /* 90% Mac  (Optima) & 54% PC (Candara) [6] */
  font-size: 18px;
  line-height: 26px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 26px;
  /* Vertical rhythm. */
  font-weight: normal;
  text-rendering: optimizeLegibility;
  /* Enables a font’s native kerning and optional ligatures. */
  page-break-inside: avoid; }

h1 {
  font-size: 36px;
  font-weight: normal;
  line-height: 52px;
  text-transform: uppercase; }

h2 {
  font-size: 32px;
  line-height: 52px; }

h3 {
  font-size: 27px;
  line-height: 52px; }

h4 {
  font-size: 24px;
  line-height: 26px; }

h5 {
  font-size: 21px;
  line-height: 26px; }

h6 {
  font-size: 18px;
  line-height: 26px; }

ul, ol, p, pre, blockquote {
  margin: 26px 0;
  /* Vertical rhythm. */ }

blockquote {
  font-style: italic;
  border-left: 4px solid #d6d6d6;
  padding-left: 1em; }

ul {
  list-style-position: outside; }

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  /*  Automatically break words at appropriate hyphenation points. */ }

code {
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
  line-height: 1;
  /* Not to change the line-height of the paragraph. */ }

abbr {
  letter-spacing: .1em;
  /* Letterspace abbreviations
     (http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.6/). */ }

a {
  text-decoration: none;
  border-bottom: 1px solid #555; }

.page {
  max-width: 980px;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden; }

.page__inner {
  position: relative;
  -webkit-box-sizing: border-box;
  /* iOS Safari 4-, Android 3- */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* IE8+, Opera 12+, Safari 5+, Chrome 19, Android 4+ */
  -webkit-transform: translate(0, 0, 0);
  -webkit-transform: translate3d(0, 0);
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  padding: 13px 13px 13px 50px;
  height: 100%; }
  @media all and (min-width: 768px) {
    .page__inner {
      padding-left: 13px; } }

.page__inner_animated {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease; }

@media all and (max-width: 767px) {
  .page__inner_swiped {
    -webkit-transform: translate(80%, 0);
    -webkit-transform: translate3d(80%, 0, 0);
    transform: translate(80%, 0);
    transform: translate3d(80%, 0, 0); } }

.page__content {
  -webkit-box-sizing: border-box;
  /* iOS Safari 4-, Android 3- */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* IE8+, Opera 12+, Safari 5+, Chrome 19, Android 4+ */
  min-height: 700px; }
  @media all and (min-width: 768px) {
    .page__content {
      margin-left: 30%; } }

.page__sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  -webkit-transform: translate(-100%, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate(-100%, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-backface-visibility: hidden; }
  @media all and (min-width: 768px) {
    .page__sidebar {
      width: 30%;
      -webkit-transform: none;
      transform: none; } }

.page__sidebar__inner {
  -webkit-box-sizing: border-box;
  /* iOS Safari 4-, Android 3- */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* IE8+, Opera 12+, Safari 5+, Chrome 19, Android 4+ */
  padding: 13px;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out; }

.page__footer {
  clear: both;
  padding-top: 26px; }

.page__user__name {
  font-size: 36px;
  line-height: 52px;
  text-transform: none; }
  .page__user__name a {
    border-bottom-style: none; }

.page__user__picture {
  width: 156px;
  height: 156px; }

.page__nav {
  padding: 0;
  list-style: none; }

.page__arrow {
  position: fixed;
  margin-top: -48px;
  width: 24px;
  height: 96px;
  top: 50%;
  left: 13px;
  -webkit-transition: left 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  transition: left 500ms ease-in-out, transform 500ms ease-in-out;
  cursor: pointer;
  z-index: 1; }
  @media all and (min-width: 768px) {
    .page__arrow {
      display: none; } }

.page__arrow_alt {
  left: 80%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.support__touch_yes .page__inner {
  padding-left: 13px; }
.support__touch_yes .page__arrow {
  display: none; }

.post {
  margin-bottom: 26px; }

@media all and (min-width: 768px) {
  .post_special_home {
    display: none; } }

.post__meta {
  margin-bottom: 26px;
  color: #555;
  text-transform: uppercase;
  font-size: 15px; }

.post__content p {
  margin-top: 0; }
.post__content p > img {
  display: block;
  margin: 26px auto;
  max-width: 100%; }

/*ul*/
.post__content__list {
  list-style-type: square;
  padding-left: 1em; }
  .post__content__list li {
    margin: 26px 0; }

.post__image {
  height: 312px;
  margin-right: auto;
  margin-bottom: 26px;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }

.post__footer {
  margin-top: 26px; }

.archive {
  display: table;
  list-style: none;
  padding: 0; }

.archive__item {
  display: table-row; }

.archive__date {
  display: table-cell;
  color: #555;
  text-transform: uppercase;
  padding-right: 1em;
  padding-bottom: 26px; }

.archive__header {
  display: table-cell;
  padding-bottom: 26px; }

.archive__header__link {
  font-size: 21px;
  line-height: 26px; }

.tags {
  list-style: none;
  padding: 0; }

.tags__item {
  text-transform: uppercase;
  margin-bottom: 26px; }

.tags__item__link {
  font-size: 21px;
  line-height: 26px; }

.post__content {
  /*
      pre code,
      pre .subst,
      pre .tag .title,
      pre .lisp .title,
      pre .clojure .built_in,
      pre .nginx .title {
          color: inherit;
      }
  
      pre .string,
      pre .title,
      pre .constant,
      pre .parent,
      pre .tag .value,
      pre .rules .value,
      pre .rules .value .number,
      pre .preprocessor,
      pre .ruby .symbol,
      pre .ruby .symbol .string,
      pre .aggregate,
      pre .template_tag,
      pre .django .variable,
      pre .smalltalk .class,
      pre .addition,
      pre .flow,
      pre .stream,
      pre .bash .variable,
      pre .apache .tag,
      pre .apache .cbracket,
      pre .tex .command,
      pre .tex .special,
      pre .erlang_repl .function_or_atom,
      pre .markdown .header {
          color: #54a650;
      }
  
      pre .comment,
      pre .annotation,
      pre .template_comment,
      pre .diff .header,
      pre .chunk,
      pre .markdown .blockquote {
          color: #999;
      }
  
      pre .number,
      pre .date,
      pre .regexp,
      pre .literal,
      pre .smalltalk .symbol,
      pre .smalltalk .char,
      pre .go .constant,
      pre .change,
      pre .markdown .bullet,
      pre .markdown .link_url {
          color: #009ad8;
      }
  
      pre .label,
      pre .javadoc,
      pre .ruby .string,
      pre .decorator,
      pre .filter .argument,
      pre .localvars,
      pre .array,
      pre .attr_selector,
      pre .important,
      pre .pseudo,
      pre .pi,
      pre .doctype,
      pre .deletion,
      pre .envvar,
      pre .shebang,
      pre .apache .sqbracket,
      pre .nginx .built_in,
      pre .tex .formula,
      pre .erlang_repl .reserved,
      pre .prompt,
      pre .markdown .link_label,
      pre .vhdl .attribute,
      pre .clojure .attribute,
      pre .coffeescript .property {
          color: #88F
      }
  
      pre .keyword,
      pre .id,
      pre .phpdoc,
      pre .title,
      pre .built_in,
      pre .aggregate,
      pre .css .tag,
      pre .javadoctag,
      pre .phpdoc,
      pre .yardoctag,
      pre .smalltalk .class,
      pre .winutils,
      pre .bash .variable,
      pre .apache .tag,
      pre .go .typename,
      pre .tex .command,
      pre .markdown .strong,
      pre .request,
      pre .status {
          color: #666;
      }
  
      pre .function .title {
          color: #c83411;
      }
  
  
      pre .markdown .emphasis {
          font-style: italic;
      }
  
      pre .nginx .built_in {
          font-weight: normal;
      }
  
      pre .coffeescript .javascript,
      pre .javascript .xml,
      pre .tex .formula,
      pre .xml .javascript,
      pre .xml .vbscript,
      pre .xml .css,
      pre .xml .cdata {
          opacity: 0.5;
      }
  //*/ }
  .post__content pre code {
    display: block;
    background: #e6e6e6;
    padding: 26px;
    line-height: 26px;
    word-wrap: break-word;
    /*overflow: scroll;*/
    /*-webkit-overflow-scrolling: touch;*/ }

/*# sourceMappingURL=critical.css.map */
