// vim: ft=javascript
return html`
${render('header')}
<ul>
${site.collections.post.map(post => {
  return `<li><a href="${url(post.pathname)}">${post.title}</a></li>`;
})}
</ul>
${render('footer')}
`;
