.archive {
    display: table;
    list-style: none;
    padding: 0;
}
.archive__item {
    display: table-row;
}
.archive__date {
    display: table-cell;
    color: #555;
    text-transform: uppercase;
    padding-right: 1em;
    padding-bottom: $line-height;
}
.archive__date__md {
    white-space: nowrap;
}
.archive__date__y::before {
    content: "\a";
    white-space: pre-line;
}
.archive__header {
    display: table-cell;
    padding-bottom: $line-height;
}
.archive__header__link {
    font-size: typographic-scale(1);
    line-height: scale-line-height(typographic-scale(1));
}
