$phi: 1.61803398875 !default;
$page-width: 980px;

$content-width: percentage(1 / $phi);
$sidebar-width: 100% - $content-width;

$gap-tiny: round($line-height / 4);
$gap-medium: round($line-height / 2);
$gap-large: $line-height;

$page__arrow-width: 24px;
$page__arrow-height: 96px;

.page {
    max-width: 980px;
    min-width: 320px;
    min-height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.page__inner {
    position: relative;
    @include box-sizing(border-box);
    -webkit-transform: translate(0, 0, 0);
    -webkit-transform: translate3d(0, 0);
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    padding: $gap-medium $gap-medium $gap-medium (2 * $gap-medium + $page__arrow-width);
    @include respond-to(tablet) {
        padding-left: $gap-medium;
    }
    height: 100%;
}
.page__inner_animated {
    -webkit-transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
}

.page__inner_swiped {
    @include respond-to(mobile) {
        -webkit-transform: translate(80%, 0);
        -webkit-transform: translate3d(80%, 0, 0);
        transform: translate(80%, 0);
        transform: translate3d(80%, 0, 0);
    }
}
.page__content {
    @include box-sizing(border-box);
    min-height: 700px; // ~ .page__sidebar
    @include respond-to(tablet) {
        margin-left: 30%;
    }
}
.page__sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    -webkit-transform: translate(-100%, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate(-100%, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-backface-visibility: hidden;
    @include respond-to(tablet) {
        width: 30%;
        -webkit-transform: none;
        transform: none;
    }
}
.page__sidebar__inner {
    @include box-sizing(border-box);
    padding: $gap-medium;
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
}
.page__footer {
    clear: both;
    padding-top: $line-height;
}
.page__user__name {
    font-size: typographic-scale(5);
    line-height: scale-line-height(typographic-scale(5));
    text-transform: none;
    a {
        border-bottom-style: none;
    }
}
.page__user__picture {
    width: 6 * $line-height;
    height: 6 * $line-height;
}
.page__nav {
    padding: 0;
    list-style: none;
}

.page__arrow {
    position: fixed;
    margin-top: -($page__arrow-height/2);
    width: $page__arrow-width;
    height: $page__arrow-height;
    top: 50%;
    left: $gap-medium;
    -webkit-transition: left 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
    transition: left 500ms ease-in-out, transform 500ms ease-in-out;
    cursor: pointer;
    z-index: 1;

    @include respond-to(tablet) {
        display: none;
    }
}

.page__arrow_alt {
    left: 80%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


.support__touch_yes {
    .page__inner {
        padding-left: $gap-medium;
    }
    .page__arrow {
        display: none;
    }
}

// @media all and (max-width: 430px) {
//     .page__inner {
//         padding-left: $gap-medium;
//     }
//     .page__arrow {
//         display: none;
//     }
// }

