.post {
    margin-bottom: $line-height;
}

.post__header {
    // font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.post__meta {
    // font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    margin-bottom: $line-height;
    color: #555;
    text-transform: uppercase;
    font-size: typographic-scale(-2);
}
.post__content {
    // -webkit-column-width: 30em;
    // -moz-column-width: 30em;
    // column-width: 30em;
    // -webkit-column-gap: 2em;
    // -moz-column-gap: 2em;
    // column-gap: 2em;

    p {
        margin-top: 0;
    }
    p > img {
        display: block;
        margin: $line-height auto;
        max-width: 100%;
    }
}

/*ul*/.post__content__list {
    list-style-type: square;
    padding-left: 1em;

    li {
        margin: $line-height 0;
    }
}
.post__image {
    height: $line-height * 12;
    margin-right: auto;
    margin-bottom: $line-height;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.post__footer {
    margin-top: $line-height;
}
