---
layout: null
---

{% include header.html swiped=true %}
<h1>Laboratory</h1>
<div class="post">
    <h3 class="post__header">
        <a class="post__header__link" href="/labs/playing-cards-revised/">Playing Cards Revised</a>
    </h3>
    <div class="post__content">
        November, 2013. High performance Playing Cards animation.
    </div>
</div>
<div class="post">
    <h3 class="post__header">
        <a class="post__header__link" href="/labs/gdd-2011/">GDD 2011</a>
    </h3>
    <div class="post__content">
        September, 2011. Doodle for Google Developer Day. Requires browsers that support inline SVG.
        <!-- http://googlecode.blogspot.ru/2011/08/open-call-results-doodle-your-way-to.html -->
    </div>
</div>
<div class="post">
    <h3 class="post__header">
        <a class="post__header__link" href="/labs/playing-cards/">Playing Cards</a>
    </h3>
    <div class="post__content">
        March, 2010. Awesome animation of playing cards made with CSS3 and jQuery.
    </div>
</div>
{% include footer.html %}
