---
layout: nil
---

{% include meta.html %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Playing Cards &mdash; Anton Eprev</title>
        <link href="css/magic.css" rel="stylesheet" type="text/css" media="screen">
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery-easing.js"></script>
        <script type="text/javascript" src="js/jquery-css-transform.js" ></script>
        <script type="text/javascript" src="js/jquery-animate-css-rotate-scale.js"></script>
        <script type="text/javascript" src="js/magic.js"></script>
    {% if is_deploy %}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-12144011-2']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    {% endif %}
    </head>
    <body>
        <div class="page">
            <div class="card-table">
                <div class="loader">
                    <div class="loader-inner"></div>
                </div>
                <div class="card-wrapper">
                    <div class="card-back">
                        <img src="pics/backside.png" alt="Backside">
                    </div>
                    <div class="card-front">
                        <img src="pics/jack-clubs.png" alt="Jack Clubs">
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card-back">
                        <img src="pics/backside.png" alt="Backside">
                    </div>
                    <div class="card-front">
                        <img src="pics/jack-diamonds.png" alt="Jack Diamonds">
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card-back">
                        <img src="pics/backside.png" alt="Backside">
                    </div>
                    <div class="card-front">
                        <img src="pics/jack-hearts.png" alt="Jack Hearts">
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card-back">
                        <img src="pics/backside.png" alt="Backside">
                    </div>
                    <div class="card-front">
                        <img src="pics/jack-spades.png" alt="Jack Spades">
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card-back">
                        <img src="pics/backside.png" alt="Backside">
                    </div>
                    <div class="card-front">
                        <img src="pics/queen-clubs.png" alt="Queen Clubs">
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card-back">
                        <img src="pics/backside.png" alt="Backside">
                    </div>
                    <div class="card-front">
                        <img src="pics/queen-diamonds.png" alt="Queen Diamonds">
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card-back">
                        <img src="pics/backside.png" alt="Backside">
                    </div>
                    <div class="card-front">
                        <img src="pics/queen-hearts.png" alt="Queen Hearts">
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card-back">
                        <img src="pics/backside.png" alt="Backside">
                    </div>
                    <div class="card-front">
                        <img src="pics/queen-spades.png" alt="Queen Spades">
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card-back">
                        <img src="pics/backside.png" alt="Backside">
                    </div>
                    <div class="card-front">
                        <img src="pics/king-clubs.png" alt="King Clubs">
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card-back">
                        <img src="pics/backside.png" alt="Backside">
                    </div>
                    <div class="card-front">
                        <img src="pics/king-diamonds.png" alt="King Diamonds">
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card-back">
                        <img src="pics/backside.png" alt="Backside">
                    </div>
                    <div class="card-front">
                        <img src="pics/king-hearts.png" alt="King Hearts">
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="card-back">
                        <img src="pics/backside.png" alt="Backside">
                    </div>
                    <div class="card-front">
                        <img src="pics/king-spades.png" alt="King Spades">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            Programing &mdash; <a href="http://eprev.org/">Anton Eprev</a> ∙ Playing cards graphics &mdash; Seasoned Royals by <a href="http://www.flickr.com/photos/rickycantdraw/">Ricky Linn</a>  ∙ Back design &mdash; Bicycle Playing Cards.
        </div>
        <div class="mask"></div>
    </body>
</html>
