// vim: ft=javascript
return html`
${render('include/header')}
<h1>The page cannot be found</h1>
<p>The page you are looking for might has been removed or something, but whatever, it’s not here.</p>
<p>In the meantime, you can check out things I write about:</p>
<ul class="tags">
${site.tags.map(tag => {
  return `
    <li class="tags__item">
      <a href="${ url(tag.pathname)}">${ tag.title }</a>
    </li>`;
})}
</ul>
${render('include/footer')}
`;
