// vim: ft=javascript

function sanitize(html) {
  // TODO:
  // doc.css('*').remove_attr('style')
  // doc.css('*').remove_attr('class')
  // doc.css('img').remove_attr('layout')
  // doc.css('span').each do |span|
  //   span.replace span.inner_html
  // end
  html = html
    .replace(/<span[^>]*>([^<]+)<\/span>/g, '$1')
    .replace(/\s+class="[^"]*"/g, '');
  return html;
}

const dateFormat = require('../lib/date-format');
return html`<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Anton Eprev</title>
  <link href="${url('/atom.xml')}" rel="self" />
  <link href="${site.url}/" />
  <updated>${dateFormat(site.time, 'YYYY-MM-DDTmm:hh:ss+00:00')}</updated>
  <id>${site.url}/</id>
  <author>
    <name>Anton Eprev</name>
    <email>a.eprev@gmail.com</email>
  </author>
  ${site.collections.post.map(post => {
    return `
    <entry>
      <title>${escape(post.title)}</title>
      <link href="${url(post.pathname)}"/>
      <updated>${dateFormat(post.date, 'YYYY-MM-DDTmm:hh:ss+00:00')}</updated>
      <id>${url(post.pathname)}</id>
      <content type="html">${escape(sanitize(post.content))}</content>
    </entry>
    `;
  })}
</feed>`;
