// vim: ft=javascript

function getExcerpt(content) {
  const match = /^([\s\S]+?)<!-- Read More -->/.exec(content);
  if (match) {
    return match[1];
  }
  return '';
}

return html`
${render('include/header')}
${site.collections.post.map((post, index) => {
  const excerpt = getExcerpt(post.content);
  return index <= 7
    ? render('include/post', {
        post: Object.assign({}, post, {
          headingLevel: 2,
          headingLink: true,
          readMoreLink: !!excerpt,
          content: excerpt ? excerpt : post.content,
        }),
      })
    : '';
})}
<div class="post-special-archive">
  <a
    href="/archive/"
    data-ga-on="click"
    data-ga-category="Click"
    data-ga-action="Archive"
  >Archive</a> &rsaquo;
</div>

${render('include/footer')}
`;
