// vim: ft=javascript

return html`
  ${render('includes/header')}

  ${render('includes/post', {
    post: page,
  })}

  ${
    page.ghIssueId
      ? html`
        <div class="post-comments" data-issue-id="${page.ghIssueId}">
          <div class="post-comments__icon">${read('icons/comments.svg')}</div>
          <span class="post-comments__text">
            Want to leave a comment on this? Visit
            <a href="https://github.com/eprev/eprev.org/issues/${
              page.ghIssueId
            }">the&#160;post’s&#160;issue&#160;page</a> on GitHub.
          </span>
        </div>`
      : ''
  }

  ${render('includes/footer')}`;
