/// <reference path="../types/templates.d.ts" />
// vim: ft=typescript

template(({ page, site }) => {
  const dateFormat = require('../lib/date-format');

  return html`
    ${render('includes/header')}

    <h1 class="page__header">${page.title}</h1>
    ${page.posts.descBy('date').reduce(
      (state, post, index, posts) => {
        let { year, output } = state;
        const postYear = post.date.getUTCFullYear();
        if (year !== postYear) {
          if (year) {
            output += '</ul>';
          }
          year = postYear;
          output += `<h2>${year}</h2><ul class="archive">`;
        }
        output += `
        <li class="archive__item">
          <div class="archive__date">${dateFormat(post.date, '%M D')}</div>
          <div class="archive__header">
            <a href="${post.pathname}">${post.title}</a>
          </div>
        </li>`;
        if (index === posts.length - 1) {
          return (output += '</ul>');
        } else {
          return { year, output };
        }
      },
      { output: '' },
    )}
    ${render('includes/footer')}
  `;
});
