// vim: ft=javascript
return html`
${render('include/header')}
<ul>
<h1 class="page__header">Tags</h1>
<ul class="tags">
${site.tags.map(tag => {
  return `
    <li class="tags__item">
      <a href="${ url(tag.pathname)}/">${ tag.title }</a>
    </li>`;
})}
</ul>
${render('include/footer')}
`;
