// vim: ft=javascript
return html`
${render('include/header')}
<ul>
${site.tags.map(tag => {
  return `<li><a href="${url(tag.pathname)}">${tag.title}</a></li>`;
})}
</ul>
${render('include/footer')}
`;
