{% include header.html swiped=true %}
{% assign include_post_h = 1 %}
{% assign include_post_link = false %}
{% assign include_post_meta = page %}
{% assign include_post_content = content %}
{% include post.html %}
{% if page.ghIssueId %}
  <div class="post-comments g--shady">
    Want to leave a comment on this? Visit <a href="https://github.com/eprev/eprev.org/issues/{{page.ghIssueId}}">the post’s issue page</a> on GitHub.
  </div>
{% endif %}
<div class="post-special-home">
  <a href="/">Home</a>
</div>
{% include footer.html %}
