{% include header.html %}
<h1>{{page.title}}</h1>
<ul class="archive">
    {% for post in site.posts %}
        {% for tag in post.tags %}
            {% if tag == page.tag %}
                <li class="archive__item">
                    <span class="archive__date">
                        <span class="archive__date-md">{{ post.date | date:"%B %-d" }},</span/>
                        <span class="archive__date-y">{{ post.date | date:"%Y" }}</span/>
                    </span>
                    <span class="archive__header">
                        <a class="archive__header-link" href="{{ post.url }}">{{ post.title }}</a>
                    </span>
                </li>
            {% endif %}
        {% endfor %}
    {% endfor %}
</ul>
{% include footer.html %}
