/*---
title: Archive
pathname: /archive/
layout: default
---*/
/// <reference path="../types/templates.d.ts" />

template(({ site }) => {
  const dateFormat = require('../lib/date-format');

  return html`
    <h1 class="page__header">Archive</h1>
    ${site
      .byType('post')
      .descBy('date')
      .reduce(
        (state, post, index, posts) => {
          const postYear = post.date.getUTCFullYear();
          if (state.year !== postYear) {
            if (state.year) {
              state.output += '</ul>';
            }
            state.year = postYear;
            state.output += `<h2>${state.year}</h2><ul class="archive">`;
          }
          state.output += `
        <li class="archive__item">
          <div class="archive__date">${dateFormat(post.date, '%M D')}</div>
          <div class="archive__header">
            <a href="${post.pathname}">${post.title}</a>
          </div>
        </li>`;
          if (index === posts.length - 1) {
            return (state.output += '</ul>');
          } else {
            return state;
          }
        },
        { output: '' },
      )}
  `;
});

// vim: ft=typescript
