/*---
type: system
pathname: /index.json
---*/


const { reduce, vectorize } = require('../lib/search');
const dateFormat = require('../lib/date-format');

const documents = site.byType('post')
      .map((post) => {

      const text = post.__source__
          .replace(/https?:\/\/[^\s]*/g, '') // Ignore URLs
          .replace(/<!--:[^>]*-->/g, '')     // Ignore markdown attributes
        ;

        return {
          title: post.title,
          url  : post.pathname,
          date : dateFormat(post.date, '%MM D, YYYY'),
          tokens: vectorize(text),
        };

      });

return html`${stringify(documents)}`;

// vim: ft=javascript
