/*---
type: system
pathname: /sitemap.xml
---*/
/// <reference path="../types/templates.d.ts" />

const dateFormat = require('../lib/date-format');

template(({ site }) => {
  return html`
    <?xml version="1.0" encoding="UTF-8"?>
    <urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
      <url>
        <loc>${site.url}/</loc>
        <changefreq>daily</changefreq>
        <priority>1</priority>
      </url>
      ${site.byType('post').map(post => {
        return `
      <url>
        <loc>${url(post.pathname)}</loc>
        <lastmod>${dateFormat(post.date, 'YYYY-MM-DD')}</lastmod>
        <changefreq>weekly</changefreq>
      </url>
      `;
      })}
      ${site.byType('page').map(page => {
        return `
      <url>
        <loc>${url(page.pathname)}</loc>
        ${
          page.date
            ? `<lastmod>${dateFormat(page.date, 'YYYY-MM-DD')}</lastmod>`
            : ''
        }
        <changefreq>weekly</changefreq>
      </url>
      `;
      })}
    </urlset>
  `;
});

// vim: ft=typescript
